* {
  margin: 0;
  padding: 0;
}

.mega-container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.top {
  padding-top: 50px;
  width: 300px;
  margin:0 auto;
  text-align:center;
}

.container {
  height: 200px;
  width: 400px;
  padding-top: 4px;
  margin: 50px auto;
  border: 1px dashed purple;
  position: relative;
}

.pixel {
  height: 20px;
  width: 20px;
  display: inline-block;
  box-sizing: border-box;
  margin-top: -4px;
}

img {
  position: absolute;
  bottom: 0;
}

/*.pixel:hover {
  background-image:
}*/
